
h1 {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.flex {
  display: flex;
  align-items: center;
}

.prose {
    font-family: 'univers_55regular';
    color: black(0, 0, 0);
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin: 0; */
    margin: 0 auto;
    /* position: absolute;                */
    /* top: 50%;                         */
    /* transform: translate(0, -50%); */
    padding: 10%;
    padding-top: 15%;
    font-size: 24px;}

.hidden {
      font-family: 'univers_55regular';
      color: black;
      src: url('univers_55-webfont.woff2') format('woff2'),
           url('univers_55-webfont.woff') format('woff');
      font-weight: normal;
      font-style: bold;
      /* margin-left: auto; */
      /* margin-right: auto; */
      /* margin: 0; */
      margin: 0 auto;
      /* position: absolute;                */
      /* top: 50%;                         */
      /* transform: translate(0, -50%); */
      font-size: 24px;
      text-align: center;
    }
      
.caption {
        font-family: 'univers_55regular';
        color: black;
        src: url('univers_55-webfont.woff2') format('woff2'),
             url('univers_55-webfont.woff') format('woff');
        text-align: center;
            }


  a.even:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a.even:hover {
    color: #BC0202;
    text-decoration: none;
  }  
   a:active {
    color: black;
    text-decoration: none;
  }
a.secret:active{
  color: black;
  text-decoration: none;

}
a.secret:visited{
  color: black;
  text-decoration: none;

}
  a.secret:link {
    color: black;
    text-decoration: none;
  }

  a.secret:hover {
    color: white;
    text-decoration: none;
  }

a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }

  #work-image{
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#work-image a img{
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 3%;
    margin-top: 3%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}



  hr.style-one {
    border: 10px;
    height: 10px;
    position: fixed;
  }

  body {
    background-color: white;
  }

.caption-page {
    background-color: white;
  }


  @media screen and (max-width: 600px) {
    .prose {
      font-size: 16px;
    }
    .caption {
      font-size: 12px;
    }
    #work-image{
      width: 100%;
      left: 0px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
    }
    #work-image a img{
        width: 100%;
        height: 100%;
        left: 0px;
        right: 0px;
        position: relative;
        margin-bottom: 3%;
        margin-top: 3%;
  }
}


@font-face {
    font-family: 'univers_55bold';
    src: url('univers_55_bold-webfont.woff2') format('woff2'),
         url('univers_55_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55italic';
    src: url('univers_55_italic-webfont.woff2') format('woff2'),
         url('univers_55_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'univers_55regular';
    src: url('univers_55-webfont.woff2') format('woff2'),
         url('univers_55-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}